.grid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.header_block2 {
    top: -1%;
    position: absolute;
}

.team_grid {
    width: 100%;
    height: 100%;
}

.team_grid_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 58%;
    width: 70%;
    margin: 0 auto;
    top: 20%;
    position: relative;
}

.team_grid h2 {
    font-size: 1em;
    font-family: "GothamPro";
    color: rgba(255, 255, 255, 0.502);
    line-height: 0.281;
    text-align: left;
    position: absolute;
    z-index: 1119;    
    text-transform: uppercase;
}

.semifinal_header {
    top: 12%;
    left: 6.5%;

}

.final_header {
    top: 34%;
    left: 34.5%;
}

.semifinal_wrap_A {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    left: 6.5%;
    top: 17%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;
    display: flex;

}

.semifinal_wrap_A p:nth-child(1) {
        background-image: -moz-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
        background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
        background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
        position: absolute;
        width: 6%;
        height: 100%;
        z-index: 2175;
}

.semifinal_wrap_A p:nth-child(2) {
    justify-self: center;
    margin-left: 40px;
    align-self: center;
    color: #fff;
}


.semifinal_wrap_A p:nth-child(3) {
    background-image: -moz-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.semifinal_wrap_B { 
    border-width: .4px;
    border-color: rgba(233, 194, 255, 0.397);
    border-style: solid;
    position: absolute;
    left: 6.5%;
    top: 28%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;  
    display: flex;
}

.semifinal_wrap_B p:nth-child(1) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.semifinal_wrap_B p:nth-child(2) {
    justify-self: center;
    margin-left: 40px;
    align-self: center;
    color: #fff;
}


.semifinal_wrap_B p:nth-child(3) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: #1c0724;
}

.semifinal_wrap_C {
    border-width: .4px;
    border-color: rgba(233, 194, 255, 0.397);
    border-style: solid;
    position: absolute;
    left: 6.5%;
    top: 60%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;  
    display: flex;   
}

.semifinal_wrap_C p:nth-child(1) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.semifinal_wrap_C p:nth-child(2) {
    justify-self: center;
    margin-left: 40px;
    align-self: center;
    color: #fff;
}


.semifinal_wrap_C p:nth-child(3) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: #1c0724;
}

.semifinal_wrap_D {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    left: 6.5%;
    top: 71%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;  
    display: flex;
}

.semifinal_wrap_D p:nth-child(1) {
    background-image: -moz-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.semifinal_wrap_D p:nth-child(2) {
    justify-self: center;
    margin-left: 40px;
    align-self: center;
    color: #fff;
}

.semifinal_wrap_D p:nth-child(3) {
    background-image: -moz-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.final_wrap {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    left: 34.5%;
    top: 49.5%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;
    display: flex;
}

.final_wrap p:nth-child(1) {
    background-image: -moz-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.final_wrap p:nth-child(2) {
    justify-self: center;
    margin-left: 40px;
    align-self: center;
    color: #fff;
}

.final_wrap p:nth-child(3) {
    background-image: -moz-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.final_wrap_A {
    border-width: .4px;
    border-color: rgba(233, 194, 255, 0.397);
    border-style: solid;
    position: absolute;
    left: 34.5%;
    top: 38.5%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;
    display: flex;  
}

.final_wrap_A p:nth-child(1) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.final_wrap_A p:nth-child(2) {
    justify-self: center;
    margin-left: 40px;
    align-self: center;
    color: #fff;
}


.final_wrap_A p:nth-child(3) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    color: #1c0724;
}



/* .line {
    width: 122px;
    border-width: 1px;
    border-color: rgba(233, 194, 255, 0.397);
    border-color: aqua;
    z-index: 1202;
    position: relative;
} */

.winner {
    width: 420px;
    height: 340px;
    position: relative;
    left: 400px;
    top: 255px;
}

.winner h2 {
    font-size: 18px;
    font-family: "GothamPro";
    color: rgba(255, 255, 255, 0.502);
    line-height: 0.281;
    text-align: left;
    position: absolute;
    z-index: 1119;   
    left: 30px; 
    text-transform: uppercase;
}


.win_header {
    left: 62%;
    top: 12%;
}


.winner_container {
    position: absolute;
    left: 59.5%;
    width: 36.5%;
    top: 10.5%;
}

.cup {
    position: absolute;
    left: 68%;
    width: 20%;
    top: 17%;
}

.win_team {
    font-size: 1.3em;
    position: absolute;
    left: 62%;
    top: 66%;
    color: #fff;
    width: 31.5%;
    text-align: center;
}