.grid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.header_block2 {
    top: -1%;
    position: absolute;
}

.team_grid {
    width: 100%;
    height: 100%;
}

.team_grid_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 58%;
    width: 70%;
    margin: 0 auto;
    top: 20%;
    position: relative;
}

.lines_figure {
    width: 24.5%;
    height: 22%;
    top: 38%;
    left: 10%;
    background-size: 200px;
    position: absolute;

    & span {
        border: .7px solid #ae7db966;
        position: absolute;
    }

    & span:nth-child(1) {
        height: 100%;
        left: 22%;
    }

    & span:nth-child(2) {
        top: 50%;
        width: 54.6%;
        left: 22.6%;
    }

    & span:nth-child(3) {
        height: 50%;
        left: 77%;
        top: 25%;
    }

    & span:nth-child(4) {
        top: 23%;
        width: 23%;
        left: 77%;
    }

    & span:nth-child(5) {
        top: 74.8%;
        width: 23%;
        left: 77%;
    }
}

.team_grid h2 {
    font-size: 1em;
    font-family: "GothamPro";
    color: rgba(255, 255, 255, 0.502);
    line-height: 0.281;
    text-align: left;
    position: absolute;
    z-index: 1119;    
    text-transform: uppercase;
}

.semifinal_header {
    top: 12%;
    left: 6.5%;

}

.final_header {
    top: 34%;
    left: 34.5%;
}

.semifinal_wrap_A {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    left: 6.5%;
    top: 17%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.semifinal_wrap_A p:nth-child(1) {
        background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
        background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
        position: absolute;
        width: 6%;
        height: 100%;
        z-index: 2175;
}

.semifinal_wrap_A p:nth-child(2) {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #fff;
}


.semifinal_wrap_A p:nth-child(3) {
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
}

.semifinal_wrap_B { 
    border-width: .4px;
    border-color: rgba(233, 194, 255, 0.397);
    border-style: solid;
    position: absolute;
    left: 6.5%;
    top: 28%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
}

.semifinal_wrap_B p:nth-child(1) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.semifinal_wrap_B p:nth-child(2) {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #fff;
}


.semifinal_wrap_B p:nth-child(3) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #1c0724;
}

.semifinal_wrap_C {
    border-width: .4px;
    border-color: rgba(233, 194, 255, 0.397);
    border-style: solid;
    position: absolute;
    left: 6.5%;
    top: 60%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;   
}

.semifinal_wrap_C p:nth-child(1) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.semifinal_wrap_C p:nth-child(2) {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #fff;
}


.semifinal_wrap_C p:nth-child(3) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #1c0724;
}

.semifinal_wrap_D {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    left: 6.5%;
    top: 71%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
}

.semifinal_wrap_D p:nth-child(1) {
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.semifinal_wrap_D p:nth-child(2) {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #fff;
}

.semifinal_wrap_D p:nth-child(3) {
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
}

.final_wrap {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    left: 34.5%;
    top: 49.5%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.final_wrap p:nth-child(1) {
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.final_wrap p:nth-child(2) {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #fff;
}

.final_wrap p:nth-child(3) {
    background-image: -webkit-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    background-image: -ms-linear-gradient( 99deg, rgb(159,116,237) 0%, rgb(207,90,234) 100%);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
}

.final_wrap_A {
    border-width: .4px;
    border-color: rgba(233, 194, 255, 0.397);
    border-style: solid;
    position: absolute;
    left: 34.5%;
    top: 38.5%;
    width: 19.5%;
    height: 10%;
    z-index: 1174;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
}

.final_wrap_A p:nth-child(1) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 6%;
    height: 100%;
    z-index: 2175;
}

.final_wrap_A p:nth-child(2) {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #fff;
}


.final_wrap_A p:nth-child(3) {
    background-color: rgba(233, 194, 255, 0.397);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 76;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #1c0724;
}



/* .line {
    width: 122px;
    border-width: 1px;
    border-color: rgba(233, 194, 255, 0.397);
    border-color: aqua;
    z-index: 1202;
    position: relative;
} */

.winner {
    width: 420px;
    height: 340px;
    position: relative;
    left: 400px;
    top: 255px;
}

.winner h2 {
    font-size: 18px;
    font-family: "GothamPro";
    color: rgba(255, 255, 255, 0.502);
    line-height: 0.281;
    text-align: left;
    position: absolute;
    z-index: 1119;   
    left: 30px; 
    text-transform: uppercase;
}


.win_header {
    left: 62%;
    top: 12%;
}


.winner_container {
    position: absolute;
    left: 59.5%;
    width: 36.5%;
    top: 10.5%;
}

.cup {
    position: absolute;
    left: 68%;
    width: 20%;
    top: 17%;
}

.win_team {
    font-size: 1.3em;
    position: absolute;
    left: 62%;
    top: 66%;
    color: #fff;
    width: 31.5%;
    text-align: center;
}

.table_block {
    display: none;
}

.table_block_active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.table {
    text-transform: uppercase;
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: left;
    padding: 10px;
    color: #fff;
}

tbody th, td {
    border-bottom: 1px solid rgba(202, 202, 202, 0.644);
    padding-bottom: 20px;
  }
tr th {
    width: 23%;
}

tr td {
    width: 52%;
}

thead th {
    color:#c170ff;
    font-size: 0.85rem;
}

  tbody {
      padding: top
  }
  #table-scroll {
    width: 64%;
    height: 90%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 2%;
    overflow: auto;
  }

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(202, 202, 202, 0.644); 
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    // -webkit-box-shadow: inset 0 0 6px #7843a0; 
    background:#c170ff;
} 

.table_gradient {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 200px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#180018), color-stop(#180c1bda), color-stop(#37213d1f), to(#37213d00));
    background-image: -webkit-linear-gradient(bottom, #180018, #180c1bda, #37213d1f, #37213d00);
    background-image: -o-linear-gradient(bottom, #180018, #180c1bda, #37213d1f, #37213d00);
    background-image: linear-gradient(to top, #180018, #180c1bda, #37213d1f, #37213d00);
}