.block3 {
    position: relative;
}

.bg_discus {
    top: 28px;
    background: -webkit-gradient(linear, left top, left bottom, from(#180522f6), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(#180522f6, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(#180522f6, rgba(0, 0, 0, 0));
    background: linear-gradient(#180522f6, rgba(0, 0, 0, 0));
    /* background-image: url('./img/bg.png'); */
    opacity: 0.512; 
    height: 900px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.vk {
    border-radius: 5px;
    background-image: -webkit-linear-gradient( 90deg, rgb(170,116,237) 0%, rgb(202,90,234) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(170,116,237) 0%, rgb(202,90,234) 100%);
    -webkit-box-shadow: 0px 0px 137.25px 45.75px rgba(26, 6, 35, 0.41);
            box-shadow: 0px 0px 137.25px 45.75px rgba(26, 6, 35, 0.41);
    left: 40.5%;
    position: absolute;
    width: 19%;
    z-index: 240;
    top: -1%;
    text-align: center;
    padding: 15px;
}

.vk a {
    color: #fff;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
}

.vk label {
    margin-left: 28px;
}

.vk_logo {
    background: url('../../img/vk_icon.png') center no-repeat;
    width: 25px;
    height: 25px;
    background-size: 100%;
    position: absolute;
    padding-right: 12px;
    top: 13px;
}

.video_wrap {
    // background-color: rgb(28, 7, 39);
    -webkit-box-shadow: 0px 0px 106.5px 35.5px rgba(198, 87, 255, 0.55);
            box-shadow: 0px 0px 106.5px 35.5px rgba(198, 87, 255, 0.55);
    position: absolute;
    top: 14%;
    left: 19.5%;
    width: 61%;
    height: 62.5%;
    z-index: 23;
}

.icons {
    top: 85.5%;
    z-index: 1100;
    width: 12.1%;
    height: 4%;
    bottom: 4%;
    left: 20%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.icons li {
    background: url('../../img/icons.png') center no-repeat;
    padding: 14%;
    position: relative;
    border-radius: 10px;
}

.icons li:nth-child(1) {
    background-position: left;
}

.icons li:nth-child(3) {
    background-position: right;
}

.copy {
    color: hsla(0,0%,100%,.749);
    line-height: .316;
    position: absolute;
    right: 19%;
    bottom: 10%;
    z-index: 16;

}