/* header */
.wrap_header {
    height: 50px;
}



// .main_header {

// }

.header {
    min-width: 960px;
    height: 45px;
    background-color: #240733;
    position: sticky;
    width: 100%;
    padding-left: 0;
    flex-basis: 400px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #c170ff;
    top: 0;
    z-index: 11101;
}

.header_logo_wrapp {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
    left: 0;
}

.header_logo img {
    height: 29px;
    width: 27px;
    left: 5vw;
    position: relative;
}

.header_logo {
    position: absolute;
    z-index: 10;
}

.header_logo_title {
    left: 52%;
    width: 132.88px;
    height: 27.49px;
    font-size: .7rem;
    position: relative;
    margin-left: 30px;
    color: #c170ff !important;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin: 0 auto;
    color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar a {
    font-size: 18px/5.5px;
    cursor: pointer;
    color: #fff;
}

.table_nav {
    margin-left: 16%;
}

.active_nav {
    color: #c170ff !important;
    display: table;
    border-bottom: 3px solid  #c170ff;
    line-height: 37px;
    margin-top: 5px;
}

.streaming_wrap {
    display: inherit;
    position: absolute;
    right: 100px;
    font-size: 18px/5.5px;
    display: flex;
    align-items: center;
}

.line {
    border-right: solid .6px #fff;
    opacity: .2;
    height: 50px;
    padding-left: 10px;
}

.live_circle {
    left: 1705px;
    top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(218, 23, 23)  10%, rgb(253, 10, 10) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(218, 23, 23)  10%, rgb(253, 10, 10) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(218, 23, 23) 10%, rgb(253, 10, 10) 100%);
    box-shadow: 0px 0px 20.25px 6.75px rgba(187, 56, 90, 0.22);
}

/* main */

.main {
    position: absolute;
    z-index: 13;
    width: 100%;
    height: 1930px;
    display: flex;
    justify-content: center
    /* background: #333; */
}

.block1_logo_wrapper {
    width: 100%;
    height: 500px;
    top: 0;
    position: absolute;
    z-index: 110;
    min-width: 1080px;
}

.kla_logo {
    margin-top: 19.3%;
    width: 12%;
    z-index: 1001;
    margin-left: 13.3%;
    position: static;
}

.game_logo {
    width: 18%;
    z-index: 1001;
    // margin-bottom: 3.5%;
    margin-bottom: -18%;
    margin-left: 45.6%;
}


