@font-face {
    font-family: 'GothamProBlack';
    src: url('GothamProBlack.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'GothamProMedium';
    src: url('GothamProBlack.ttf') format('ttf');
    font-weight: medium;
    font-style: normal;
  }

  @font-face {
    font-family: 'GothamProRegular';
    src: url('GothamProBlack.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }