/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

@media only screen and (max-width: 1080px) {
    .description {
        font-size: 9px !important;
    }

    .game_logo {
        margin-left: 47.6%;
    }

    .head_name {
        font-size: 10px !important;
    }

    .header_logo_title {
        margin-left: 15px !important;
    }

    .sign {
        font-size: 19px !important;
        top: -6px !important;
        left: 35.5% !important;
    }

    .term_description {
        font-size: 11px !important;
    }

    .wheel_container {
        top: -16% !important;
    }

}

@media only screen 
and (max-width : 1224px) {
    .wheel_container {
        top: -17% !important;
    }

    .terms {
        height: 40% !important;
    }

    .header_logo_title {
        margin-left: 20px;
    }

    .team_grid h2 {
        top: 25px !important;
    }

    h2.final_header {
        top: 90px !important;
    }
}
// and (min-width : 1224px) 
/* Styles */

@media only screen 
and (min-width : 1224px) {
    .wheel_container {
        top: -17% !important;
    }
}

@media only screen 
and (max-width : 1324px) {
    .wheel_container {
        top: -8%;
    }

    .news_content_wrap {
        width: 54%;
        top: 200px;
        position: relative;
        z-index: 100;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        display: flex;
        margin: 0 auto;
    }
    div.card {
        height: 23rem !important;
        margin-top: 3% !important;
    }
}

@media only screen 
and (min-width : 1324px) {
    .wheel_container {
        top: 0% !important;
    }

    .news_content_wrap {
        width: 54%;
    }

    .header_logo_title {
        margin-left: 40px;
    }

}



@media only screen 
and (max-width : 1298px) {
    div.card {
        width: 14rem !important;
    }
}

@media only screen 
and (min-width : 1508px) {
    .test {
        top: 26% !important;
    }
    .sign {
          top: -9px !important;
          left: 36.2% !important;
    }
}

@media only screen 
and (max-width : 1508px) {
    .test {
        top: 12%;
    }
    
    .term_description {
        font-size: 1vw;
    }
}

@media only screen 
and (max-width : 1228px) {
    .test {
        top: -1%;
    }

    .header_logo_title {
        margin-left: 18px;
    }
}



@media only screen 
and (max-width: 1145px) {
    div.card {
        width: 13rem !important;
        height: 350px !important;
    }
    .card-img-top {
        height: 80%;
    }
}

@media only screen 
and (min-width : 1600px) {
/* Styles */
    .wheel_container {
        top: 10% !important;
    }
}

@media only screen 
and (min-width: 1640px) {

    .news_content_wrap {
        width: 48% !important;
    }
}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
.icons li {
    padding: 13% !important;
}
    .wheel_container {
        top: 24% !important;
    }

    .sign {
        top: -15px !important;
        left: 37.2% !important;
        font-size: 30px !important;
  }

  .news_content_wrap {
    width: 46%!important;
  }
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}