/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

@media only screen and (max-width: 1080px) {
    .terms .sign {
          font-size:  1.13em;
        }

    .header_logo_title {
        margin-left: 15px;
    }
}

@media only screen 
and (max-width : 1224px) {
    .terms {
        height: 40% !important;
    }

    .header_logo_title {
        margin-left: 20px;
    }
}
// and (min-width : 1224px) 
/* Styles */

@media only screen 
and (max-width : 1324px) {
    .news_content_wrap {
        width: 54%;
        top: 200px;
        position: relative;
        z-index: 100;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        margin: 0 auto;
    }
}

@media only screen 
and (min-width : 1470px) {
    .news_content_wrap {
        width: 54% !important;
    }

    .header_logo_title {
        margin-left: 40px;
    }
}

@media only screen 
and (max-width : 1324px) {
    div.card {
        height: 23rem !important;
        margin-top: 3% !important;
    }
}


@media only screen 
and (max-width : 1298px) {
    div.card {
        width: 14rem !important;
    }
}

@media only screen 
and (min-width : 1508px) {
    .test {
        top: 26%;
    }
}

@media only screen 
and (max-width : 1508px) {
    .test {
        top: 12%;
    }
}

@media only screen 
and (max-width : 1228px) {
    .test {
        top: -1%;
    }

    .header_logo_title {
        margin-left: 18px;
    }
}



@media only screen 
and (max-width: 1145px) {
    div.card {
        width: 13rem !important;
        height: 350px !important;
    }
    .card-img-top {
        height: 80%;
    }
}



/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}