.modal, .modal-box {
  z-index: 900;
}

.active_modal {
  display: block !important;
}


.modal-sandbox {
  background-color: rgb(28, 7, 39);
  opacity: 0.949;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  // background-color: linear-gradient(to top,#37213d00, #37213d1f,#180c1bda,#180018)  ;
}

.modal {
  display: none;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(28, 7, 39, 0.945);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
  padding: 12px 30px;
  width: 89%;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  margin: 0 auto;
}

.modal-header h4{
  font-size: 15px;
  opacity: .5;
}

.modal-header .close-modal {
  font-size: 35px;
  top: 16px;
  position: absolute;
  right: 34px;
  z-index: 300;
}

.modal-body {
  padding: 60px 40px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

/* Aditional Styles */
* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.modal-description {
  line-height: 1.4em;
  position: relative;
  color: #fff;
  width: 90%;
  text-align: left;
  margin: 0 auto;
  bottom: 100px;

}

.modal-trigger, button {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.modal-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: ease .2s;
}

button {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
}

.modal-trigger:hover {
  padding: 20px 60px;
}

.modal-pic-bg {
  position: absolute;
    // width: 200%;
    // left: -50%;
    transform: rotate(180deg);
    top: -120px;
    height: 700px;
}

.news-modal-pic {
  background: url('../../img/blog pics/pn3.png') center no-repeat;
    width: 100%;
    top: -74px;
    left: 0;
    position: relative;
    height: 350px;
    margin: 0 auto;
}

.modal-title {
  font-size: 24px;
}

