.reg_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.reg_form {
  background-color: rgb(28, 7, 39);
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: 45px;
  width: 1920px;
  height: 932px;
  z-index: 1016;
  display: none;
  color: #fff;
 
  & h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    position: relative;
    left: 30.6%;
    top: 9%;
  }
}

.reg_container_input {
  width: 19%;
  height: 402px;
  position: relative;
  top: 82px;
}

.reg_container_input div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          padding: 17px;
}

.reg_container_input div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 140px;
  position: absolute;
  top: 59%;
  margin-top: -220px;
  left: 190px;
}

.reg_container_input label {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;
}

.reg_container_input .reg-form-control {
  margin-top: -8px;
  width: 150px;
  border-style: solid;
  background-color: rgb(36, 7, 51);
  border-width: 1px;
  border-color: rgb(233, 194, 255);
  opacity: 0.451;
  color: #fff;
}

.reg_container_checkbox .reg-form-control {
margin-top: 10%;
width: 150px;
height: 25px;
border-style: solid;
background-color: rgb(36, 7, 51);
border-width: 1px;
border-color: rgb(233, 194, 255);
opacity: 0.451;
color: #fff;
font-size: 1rem;
}

.main-reg-btn {
  border-radius: 5px;
  background-image: -webkit-linear-gradient( 90deg, rgb(170,116,237) 0%, rgb(202,90,234) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(170,116,237) 0%, rgb(202,90,234) 100%);
  -webkit-box-shadow: 0px 0px 137.25px 45.75px rgba(26, 6, 35, 0.41);
          box-shadow: 0px 0px 137.25px 45.75px rgba(26, 6, 35, 0.41);
  width: 100%;
  padding: 10px;
  z-index: 11102;
  left: 0;
  top: 75%;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.reg_container_checkbox {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(198, 87, 255);
  -webkit-box-shadow: 0px 0px 26.25px 8.75px rgba(198, 87, 255, 0.35);
          box-shadow: 0px 0px 26.25px 8.75px rgba(198, 87, 255, 0.35);
  position: relative;
  left: 10%;
  top: 124px;
  width: 421px;
  height: 299px;
  z-index: 4060;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: .8rem;

  & h2 {
    font-size: .7rem;
    text-transform: uppercase;
    position: absolute;
  
  }
}

.who_r_u {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 10px;


  & h2:nth-child(1) {
    left: 10%;
  }

  & .checkbox_name {
    position: absolute;
    top: 14%;
    left: 11.5%;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.checkbox_name {
font-size: .6rem !important;
}

.whats_ur_game {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
width: 45%;
left: 14%;
position: relative;

& h2:nth-child(1) {

  top: 3%;
}

& div {
  top: 15.5%;
  position: absolute;
  left: -8%;
}

& .checkbox_name {
  top: 8%;
  margin-top: -15px;
  text-transform: uppercase;
  display: block;
  /* margin-bottom: 12px; */
  /* cursor: pointer; */
  font-size: .8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

& input {
  margin: 15px
}

& .reg-form-control {
  margin-top: 0%;
}
}

.who_r_u input{
  height: 0;
  top: 10%;
  left: 9%;
  position: absolute;
}
