.sign_up_form {
    display: none;
}

.sign_up_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 900px;
    z-index: 3000;
}

.firstBlur, .secondBlur, .imgBlur {
    margin:50px 20px 0;
    padding:20px;
    height: 900px;
    position:relative;
  }
  
  .secondBlur .overlay{
    background-color:#bf6363;
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
    filter:opacity(0.5);
    filter:blur(20px);
  }
  .secondBlur .card{
    display:block;
    width: 300px;
    height:200px;
    margin:0 auto;
  }
  .secondBlur .someText{
    margin-top:30px;
  }
  
  .blur {
    width: 900px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  
  /* === CSS FILTER EFFECTS === */
  .firstBlur.modalBlur > *:not(.modal) {
    -webkit-filter: blur(8px);
  }
  .firstBlur.modalDesaturate > *:not(.modal) {
    -webkit-filter: saturate(0%);
  }
  /* === SOFTEN THE MODAL BACKDROP SO THE EFFECT IS MORE VISIBLE === */
  .modal-backdrop {
    opacity: 0.65;
    filter: alpha(opacity=65);
  }

  .sign_up {
      position: absolute;
        z-index: 4000;
        border: 3px solid rgb(198, 87, 255);
        // border: 3px solid rgb(255, 255, 255);
        background-color: rgb(36, 7, 51);
        box-shadow: 0px 0px 26.25px 8.75px rgba(199, 87, 255, 0.315);
        min-width: 410px;
        height: 340px;
        left: 35.5%;
        top: 250px;
        color: rgba(255, 255, 255, 0.836);
        text-transform: uppercase;
    }

.form-control {
        border-style: solid;
        background-color: rgb(36, 7, 51);
        border-width: 1px;
        border-color: rgb(233, 194, 255);
        opacity: 0.451;
        margin-left: 95px;

        margin-top: 20px;
        width: 254px;
        height: 27px;
       
}

.form-group h2 {
    font-size: 1.4rem;
    left: 95px;
    top: 15px;
    position: relative;
}

.form-group label {
    font-size: 12px;
    margin-left: 95px;

    position: relative;
    top: 17px;
}

.form-check-label {
  margin-left: 95px;
    font-size: 8px;
    cursor: pointer;
}

.btn {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(170,116,237) 0%, rgb(202,90,234) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(170,116,237) 0%, rgb(202,90,234) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(170,116,237) 0%, rgb(202,90,234) 100%);
    box-shadow: 0px 0px 137.25px 45.75px rgba(26, 6, 35, 0.41);
    left: 21%;
    width: 254px;
    padding: 7px;
    z-index: 4144;
    position: relative;
    vertical-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 13px;
}

.reg-btn {
    position: relative;
    z-index: 4400;
    border: none;
    color: #fff;
    cursor: pointer;
    left: -29%;
    top: 54px;
    border-top: 1px solid rgb(170,116,237);
    margin-top: 15px;
    padding-top: 10px;
    text-transform: uppercase;
}