.test {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 50000;
    top: 250px;
    opacity: .9;
}

ul,li {
	display: block;
	margin: 0;
	padding: 0;
}

.menu-wrap {
    height: 700px;
    background: url('../../img/wheel.png') center no-repeat;
    background-size: 690px;
    width: auto;
    z-index: 899;
    top: -457px;
    position: relative;
}

ul.box1 {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    border-radius: 100%;
    position: relative;
    transform: rotate(0deg);
    top: 23.5%;
    left: -14px;
}

.menu {
    z-index: 4000;
	display: block;
	overflow: hidden;
	border-radius: 200px;
	transform-origin: 50% 50%;
	transition: transform .2s;
}
// .menu:before
.enter {
	content: "";
	position: absolute;
    top: 48.5%;
	left: 50%;
	margin: -45px 0 0 -55px;
	border-radius: 50%;
    box-sizing: border-box;
    
    background-color: rgb(236, 27, 51);
    position: absolute;
    width: 90px;
    height: 90px;

    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    box-shadow: 10px 0px 36.12px 6.88px rgba(154, 79, 214, 0.89);
    position: absolute;
    z-index: 4970;

    text-align: center;
    text-transform: uppercase;
    padding-top: 31px;
    cursor: pointer;
}

.menu .item {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 50%;
	left: 50%;
	transform-origin: 0% 100%;
	overflow: hidden;
}
.menu .item-inner {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-color: #666;
	transform-origin: 0% 100%;
	border: 3px solid #333;
	display: flex;
	text-decoration: none;
	font-size: 18px;
	line-height: 0;
	color: #ccc;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated .infinite {
  animation-iteration-count: infinite;
}

.box1 {
  width: 25rem;
  height: 25rem;
  margin: 5rem auto;
  border-radius: 100%;
  transform: rotate(0deg);
  top: 0px;
  left: 185px;
}

/**/

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rs {
    0%{
    	transform: rotate(360deg)}
    100%{
transform: rotate(0deg)
    }
}
/*
@keyframes r2 {
    0%{
        transform: rotate(360deg)}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    100%{

    }
}
@keyframes r3 {
    0%{
        transform: rotate(360deg)}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    100%{

    }
}
@keyframes r4 {
    0%{
        transform: rotate(360deg)}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    100%{

    }
}
@keyframes r5 {
    0%{
        transform: rotate(360deg)}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    100%{

    }
}
@keyframes r6 {
    0%{
        transform: rotate(360deg)}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    100%{

    }
}
@keyframes r7 {
    0%{
        transform: rotate(360deg)}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    100%{

    }
}
*/
.rs {
    width: 100%;
    position: fixed;
    z-index: 1000;
    width: 182%;
    position: fixed;
    z-index: 1000;
    left: -26%;
    top: 10%;
    animation: rs 40s infinite linear;
}
.rotate-full {
    animation: infinite-spinning 40s infinite linear;
}

.rotate-full:hover {
    animation-play-state: paused !important;
}

.r1 {
    width: 147%;
}

// .r2 {

// }

// .r3 {

// }

// .r4 {

// }

// .r5 {

// }

// .r6 {

// }

.r7 {
    width: 350px;
    margin-bottom: -100px;
    left: -100px;
}

.r7:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #246868;
    background: #112f2f;
    width: 350px;
    margin-bottom: -100px;
    left: -100px;
  } 

// .choose_box {
//     border-style: solid;
//     border-width: 4px;
//     border-color: rgb(255, 255, 255);
//     background-color: rgb(255, 247, 148);
//     box-shadow: 0px 11px 14.94px 3.06px rgba(0, 0, 0, 0.86),inset 0px 0px 38.27px 4.73px rgba(0, 0, 0, 0.46);
//     position: absolute;
//     left: 1089px;
//     top: 285px;
//     width: 258px;
//     height: 446px;
//     z-index: 961;
//   }
  
.choose_box {
    width: 380px;
    height: 390px;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 2%;
    overflow: hidden;
    border: 3px solid white;
}

.choose_box:before {
    content: '';
    width: 300px;
    height: 300px;
    z-index: 4600;
    position: absolute;
    left: 62%;
    top: 10%;
    transform: rotate(45deg);
    opacity: 1;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.699);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.76), 0 10px 10px rgba(250, 250, 250, 0.22);
    box-shadow: 0px 11px 14.94px 3.06px rgba(0, 0, 0, 0.86),inset 0px 0px 38.27px 4.73px rgba(0, 0, 0, 0.46);
}

.choose_box.r3s:before {
    background: url('../../img/Ll.png') center no-repeat;
    background-size: 500px;
    background-position: 99% 600%;
}

.choose_box.r1s:before {
    content: '';
    background: url('../../img/Maffia.png') center no-repeat;
    background-size: 500px;
    background-position: 99% 600%;
}













.t1 {
    width: 100%;
    position: absolute;
    height: 500px;
    background: yellowgreen;
}

.t2 {
    position: relative;
    height: 500px;
    width: 100%;
    background: gray;
}

.cb {
    width: 400px;
    height: 400px;
    position: relative;
    top: 100px;
    margin: 0 auto;
}